<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        Blog De Viajes
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Publicaciones</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Autores</a></li>
      </ul>

        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><i class="bi bi-person"></i><%=usuario.pseudonimo%></li>
            <li><a href="/procesar_cerrar_sesion" class="nav-link px-2 text-secondary">Cerrar Sesion</a></li>
            <li><a href="/admin/index" class="button"><span class="icon-credit"></span></a></li>
          </ul>
        </div>

      </div>
    </div>
  </header>